#car5
{
    margin-left: 195px;
}
#car5:hover{
    width: 900px;
    
}
#place{
    margin-left: 355px;
    color: rgb(22, 27, 27);
}
#placee{
    background-color:#D7BBD8;
    height: 175px;
}
#sahayatri{
    margin-left: 405px;

}
#car6{
    margin-top: 20px;
    margin-left: 355px;
    width: 500px;
}
#car6:hover{
    width: 700px;
}
#mainmenu{
    display:flex;
    gap: 33px;
    background-color:white
}
#drivezylogo{
    height:60px;
    width: 120px;
    margin-top: 1px;
    margin-left: 44px;
}
#menuBar{
    margin-left:190px;
    margin-top:19px;
    gap: 33px;
    
 }
 #medialogo{
     margin-left:145px;
     margin-top: 9px;
 
     
 }
 #home{
    margin-left: 27px;
    text-decoration: none;
    color: black;
 }
 #blog{
     margin-left: 27px;
     text-decoration: none;
     color: black;
 }
 #about{
     margin-left: 27px;
     text-decoration: none;
     color: black;
 }
 
 #contact{
     margin-left: 27px;
     text-decoration: none;
     color:black;
 
 }
 
 #login{
     margin-left: 27px;
     text-decoration: none;
     color: black;
 }
 
 #fb{
     margin-left: 23px;
 
 }
 #twitter{
     margin-left: 23px;
 
 }
 #youtube{
     margin-left: 23px;
 
 }