*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
body{
    height:100vh;
    background-image: url('./images/111.jpeg');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;


}
#header{
    background-color:#508C9B;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.fi-sr-phone-call{
color: white;
margin-left: 20px;
margin-right:4px;
}
.span1{
    color: white;  
}
.fi-rr-envelope {
    color:white;
    margin-left: 45px;
    margin-right:4px;
}
.span2{
    color: white;

}
 .fb{
    width: 22px;
    height: 22px;
    margin-left: 553px;
}
.twitter{
    width: 22px;
    height: 22px;
    margin-left: 23px;
}
.youtube{

    width: 22px;
    height: 22px;
    margin-left: 23px;
}
.linkden{
    width: 22px;
    height: 22px;
    margin-left: 23px;
}

#section{

height:80px;
display:flex;
justify-content:space-around;
align-items: center;
padding:0px;

}
#section a{
    color:white;
}

#logo{
    margin-right: 250px;
}
#logo img{
    height:80px;
    width:170px;
    font-weight: 400;
    color: white;
}

#home,#blog,#about,#contactus,#signup{
color: rgb(41, 32, 32);
font-weight: 100;
text-decoration: none;

}
/* #main{
    height:100%;
    width:100%;
    background-color: rgb(227, 134, 21);
} */

  #middle{
    display: flex;
    background-color:#ECDFCC;
    width: 800px;
    height: 270px;
    position: absolute;
    top: 260px;
    margin-left: 250px;
    border-radius: 3px;
  }