*{
    text-decoration: none;
}
#mainmenu{
    display:flex;
    gap: 33px;
    background-color: rgb(255, 255, 255);
    
}
#drivezylogo{
    height:60px;
    width: 120px;
    margin-top: 1px;
    margin-left: 44px;
}
#menuBar{
   margin-left:190px;
   margin-top:19px;
   gap: 33px;
   
}
#medialogo{
    margin-left:145px;
    margin-top: 9px;

    
}
#home{
   margin-left: 27px;
   text-decoration: none;
   color: black;
}
#blog{
    margin-left: 27px;
    text-decoration: none;
    color: black;
}
#about{
    margin-left: 27px;
    text-decoration: none;
    color: black;
}

#contact{
    margin-left: 27px;
    text-decoration: none;
    color:black;

}

#login{
    margin-left: 27px;
    text-decoration: none;
    color: black;
}

#fb{
    margin-left: 23px;

}
#twitter{
    margin-left: 23px;

}
#youtube{
    margin-left: 23px;

}
#car1{
    width:1280px
}
#text1{
    position: relative;
    bottom:603px;
    margin-left:85px;
    color: rgb(255, 253, 249);
}
#dreamyz{
     position: relative;
     bottom: 66px;
     margin-left: 526px;
     width: 600px;
}
#car2{
    width: 500px;
    margin-left: 435px;
}
#rental1{
    margin-left: 584px;
    font-size: 23px;
    position: relative;
    top: 70px;


}
#div1{
    background-color: rgb(240, 248, 255);
}
#rentalhead{
    margin-left:380px;
    font-size: 43px;
    position: relative;
    margin-top:130px;
}
#img1con{
    width: 45px;
}
#img2con{
    width: 45px;
}
#img3con{
    width: 45px;
}
#div2{
    display: flex;
    gap: 53px;
    margin-left: 93px;
    position: relative;
    margin-top: 110px;
    color: rgb(34, 21, 21);
}
#endless{
font-size: 23px;
}
#customer{
    font-size: 23px;
}
#trip{
    font-size: 23px;
}
#perfect-car{
background-color: rgb(36, 99, 236);
margin-left:570px;
height: 45px;
width:265px;
border-radius: 14px;
margin-top: 49px;
text-align: center;

}
#perfectt-car{
    padding-top: 10px; 
    display: block;
    color: white;

}

