#car5
{
    margin-left: 195px;
}
#car5:hover{
    width: 900px;
    
}
#place{
    margin-left: 355px;
    color: rgb(22, 27, 27);
}
#placee{
    background-color:#D7BBD8;
    height: 175px;
}
#sahayatri{
    margin-left: 405px;

}
#car6{
    margin-top: 20px;
    margin-left: 355px;
    width: 500px;
}
#car6:hover{
    width: 700px;
}