    /* outline: 0; outline ko weight of placeholder */
body{
  height:100vh;
  background-color: rgb(180, 83, 83);
  display:flex;
  justify-content: center;
  align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
     max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    justify-content: center;
  }
  
  .name{
    display:flex;
    width: 100%;

  }
  
  .form label {
    position: relative;
  }

  .form label #input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
#input + span{
    position: absolute;
    left: 10px;
    top: 15px;  
    color: grey;
    font-size: 0.9em;
     /* 0.3 smooth movement  */
    transition: 0.3s ease;
  }
  
/* :placeholder-shown vaneko plcaeholder ma user le value  nahalda dekhine value; */
 #input:placeholder-shown + span {
    top: 15px;
     font-size: 0.9em; 
  }
  
  /* interacting with user */
 #input:focus + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  /* validating input like constraints */
#input:valid + span{
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;

  } 
  .submit {
    border:none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  #signup {
    text-align: center;
  }
  
  #signup a {
    color: royalblue;
  }
  