  
body{
  height:100vh;
  background-color: rgb(180, 83, 83);
  display:flex;
  justify-content: center;
  align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
     max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    margin:10px;
  }
  
  .name{
    display:flex;

  }
  


  .form label #input {
    width: 95%;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 19px;
  }
  
  .submit {
    border:none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  #signup {
    text-align: center;
  }
  
  #signup a {
    color: royalblue;
    
  }
  